/* style.css */

/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('pic1.jpg');
    background-position: center;
    background-size: contain;
    background-color: #f5f5f5; /* light gray background */
  }
  
  h1{
    font-weight: bold;
    color: #333;
    font-style: italic;
    font-size: 12px;
  }

  h2, h3 {
    font-weight: bold;
    font-size: 7px;
    color: #333; /* dark gray text */
  }
  
  a {
    text-decoration: none;
    color: #00698f; /* blue link color */
  }
  
  a:hover {
    color: #0099ff; /* hover effect */
  }
  
  /* Header Styles */
  
  header {
    background-color: transparent; /* dark gray header */
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    color: #fff; /* white text */
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff; /* white link color */
  }
  
  /* Main Styles */
  
  main.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff; /* white background */
    border: 1px solid #ddd; /* light gray border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  /* Anime-themed Styles */
  
  .anime-bg {
    background-color: #0099ff; /* add an anime-inspired pattern */
  }
  
  .anime-color {
    color: #ff69b4; /* pink accent color */
  }
  
  .anime-button {
    background-color: #ff69b4; /* pink button color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .anime-button:hover {
    background-color: #ff99cc; /* hover effect */
  }
  
  /* Footer Styles */
  
  footer {
    background-color: #333; /* dark gray footer */
    padding: 10px;
    text-align: center;
    color: #fff; /* white text */
  }