* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial;
    padding: 20px;
    background: #000000;
}

a {
    text-decoration: none;
    color: #00698f; /* blue link color */
}
  
a:hover {
    color: #0099ff; /* hover effect */
}
  
  /* Header Styles */
  
header {
    background-color: transparent; /* dark gray header */
    padding: 20px;
    text-align: center;
    width: 100%;
}
  
header h1 {
    color: #fff; /* white text */
    font-size: 24px;
}

h2, h3 {
    color: #fff; /* white text */
}

p {
  color: #fff; /* white text */
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
nav li {
    margin-right: 20px;
}
  
nav a {
    color: #fff; /* white link color */
    font-weight: bold;
}
  
  /* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: #0125f0;
    border-radius: 45px;
    box-shadow: 0 0 15px rgba(0, 19, 101, 0.1);
}
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
.leftcolumn {
    float: left;
    width: 75%;
    border-radius: 45px;
}
  
  /* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
    border-radius: 45px;
}
  
  /* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.more-button {
  display: block;
  margin: 0 auto;
  position: relative;
  font-weight: 900;
  z-index: 1;
  background: var(--purple-900);
  border: 3px solid var(--purple-400);
  border-radius: 0.75rem;
  color: var(--purple-300);
  padding: 5px 10px;
  text-decoration: none;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out, transform 250ms ease-in-out;
  clear: both;
}

.more-button:hover {
  color: var(--purple-200);
  background-color: var(--purple-800);
  transform: scale(1.1);
}

.more-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.6;
  border-radius: inherit;
  box-shadow: 0 0 1em 0.5em var(--purple-300);
  transition: opacity 250ms ease-in-out;
}

.more-button:hover::after {
  opacity: 0.6;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#moreText {
    display: none;
}

/*.anime1 {
    width: 700px;
    height: 300px;   
}*/

.popular-post {
  background: #0125f0;
  padding: 20px;
  margin-top: 20px;
  border-radius: 45px;
  width: 100%;
}

.popular-post img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 80px;
  border-radius: 10%;
}

.card img {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Add this line to ensure the image doesn't exceed the card width */
  max-height: 70%;
  border-radius: 10%;
}
  
  /* Add a card effect for articles */
.card {
    background: #0125f0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 45px;
    width: 100%;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #000000;
    margin-top: 20px;
}
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
}